@import 'rex.css';

#mainContainer{
	display: flex;
}

#progressContainer{
	display: none;
}

.custom-input-focus{
	border: 1px solid gray;
	background: transparent;
}

.custom-input-focus:focus{
	border: 1px solid blue;
}